.mainContainer {
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  color: rgb(187, 184, 184);
  margin-bottom: 10px;
}

.bio {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 16px;
  margin-bottom: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  background-color: rgb(0, 0, 0);
  color: #7e865e
}